@tailwind base;
@tailwind components;
@tailwind utilities;

.left-sidebar {
  @apply pt-12 max-md:fixed bg-sky-900 sticky left-0 top-0 z-20 flex h-[100svh] w-[180px] flex-col justify-between overflow-auto pb-5 transition-all;
}

.sidebar-toggle-icon {
  @apply size-9 cursor-pointer rounded-full p-1 md:hidden invert;
}

.filter-card {
  @apply border p-2 rounded-md;
}

.filters-container {
  @apply lg:mt-3 max-lg:fixed bg-white top-0 right-0 max-lg:px-3 max-lg:pt-16 max-lg:pb-5 z-20 max-lg:h-[100svh] max-lg:overflow-y-auto no-scrollbar transition-all;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.stock-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  gap: 0.5rem;
  justify-content: center;
}
