@tailwind base;
@tailwind components;
@tailwind utilities;

.left-sidebar {
  @apply pt-16 max-md:fixed bg-white sticky left-0 top-0 z-20 flex h-[100svh] w-fit flex-col justify-between overflow-auto border-r pb-5 px-3 transition-all;
}

.sidebar-toggle-icon {
  @apply size-9 cursor-pointer hover:bg-gray-100 rounded-full p-1 md:hidden;
}

.filter-card {
  @apply border p-2 rounded-md;
}

.filters-container {
  @apply lg:mt-3 max-lg:fixed bg-white top-0 right-0 max-lg:px-3 max-lg:pt-16 max-lg:pb-5 z-20 max-lg:h-[100svh] max-lg:overflow-y-auto no-scrollbar transition-all;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.stock-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  gap: 0.5rem;
  justify-content: center;
}

@media (min-width: 1024px) {
  .stock-filter-container-grid {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 1rem;
  }
}
